@media only screen and (max-width:640px) and (orientation:portrait) {
    .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        height: 100%;
        margin: 0;
        padding: 0;
        
        .item {
            flex-grow: 1;
            list-style-type: none;
            border-bottom: 1px solid rgba($color: #fff, $alpha: 0.7);
            text-decoration: none;
            color: rgb(236, 236, 236);
            .textContainer {
                height: 100%; width: 100%; display: flex; justify-content: flex-start; align-items: center;
                h1 {
                    margin: 0; padding-left: 3rem; font-weight: 100;
                }
            }
        }
    }
}
